.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 10px;
}


  .box {;
    background-color: #f2f2f2;
  }

table, th, td {
  border:1px solid black;
}