<!DOCTYPE html>
<html lang="en">
<head>
    <link
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"

    />
    	<link href="../static/homepage.css" rel="stylesheet" />

</head>
<body>

<div class="container">
    <header class="header">
        <div class="row border-bottom">
            <div class="column left">
                <h1 class="welcome">Welcome to R.A.M. Hospital!</h1>
            </div>
            <div class="column right">
                <button class="buttonS" onclick="location.href='/signup'">Sign Up</button>
                <button class="buttonL" onclick="location.href='/login'">Log In</button>
            </div>
        </div>
        <br>
        <div class="row border-bottom">
        <h2>About us</h2>
        <p>
            We are a small, privately owned hospital located in Iowa City, IA. We offer a variety of medical services to all. If you want to learn more, contact us via phone or fill out the form below.
        </p>
        </div>
        <br>
    </header>

    <div class="row">
        <div class="left">
            <h2>Contact Us</h2>
            <p>
                123 Numbers Street<br>
                Iowa City, IA 52246<br>
                (319) 123-456<br>
                ramhospital@gmail.com
            </p>
            <form id="form-contact-us" action="/api/contacted" method="POST" >
                    <fieldset>
                        <p style="color:red;">{{error}}</p>
                        <p style="color:green;">{{success}}</p>
						<legend>Fill out the following:</legend>
                            First Name: <input id="fname" name="fname" type="text" value="{{first}}" required autofocus><br><br>
                            Last Name: <input id="lname" name="lname" type="text" value="{{last}}" required autofocus><br><br>
                            Your email: <input id="email" name="email" value="{{email}}" required autofocus><p><i>Ex: example@email.com</i></p>
                            Message: <input id="message" name="message" type="text" value="{{message}}" required autofocus><br><br>
                            <input id='submit' type="submit" value="Submit" />

                    </fieldset>
                </form>
            </div>
         <div class="right">
            <button class="buttonM" onclick="location.href='/loginBilling'">Make a Payment</button>
        </div>


    </div>



</div>
</body>
</html>