<!DOCTYPE html>
<html lang="en">

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<link href="../static/setHours.css" rel="stylesheet" />
</head>


<body>

	<div class="container">

		<div class="header">

			<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
					<span class="fs-4">Health Management</span>
				</a>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a href="/adminHome" class="nav-link" aria-current="page">Admin Home</a>
					</li>
                    <li class="nav-item">
						<a href="/setHours" class="nav-link active">Set Hours</a>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link">Log Out</a>
				</ul>

			</nav>

		</div>
			<h1 class="display-5 fw-bold text-center">Physician Scheduling Tool</h1><br>
			<div class="row">
			<div class="column left">
				<div class="box">
				<h1 class="display-5 fw-bold text-center">Set Hours</h1><br>
				<form id="form-schedule" action="/api/setHours" method="POST" >
							  <label for="physician" >Choose a Physician:</label>
									<select name="physician" id="physician" required autofocus>
										<option value="{{physician}}">{{physician}}</option>
										{% for n in p_names %}
									  	<option value="{{n}}">{{n}}</option>
										{% endfor %}
									</select>
						<fieldset>
						<legend>Select days for availability:</legend>
						<br>
							{% for error in errors %}
							<p style="color: red;">{{error}}</p>
							{% endfor %}
							<br>
						<div id=Monday>
							<p>Enter availability for Monday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=MondayTimes id=MondayTimes value='{{mon}}'>
						</div>
							<br>
						<div id=Tuesday>
							<p>Enter availability for Tuesday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=TuesdayTimes id=TuesdayTimes value='{{tue}}'>
						</div>
							<br>
						<div id=Wednesday>
							<p>Enter availability for Wednesday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=WednesdayTimes id=WednesdayTimes value='{{wed}}'>
						</div>
							<br>
						<div id=Thursday>
							<p>Enter availability for Thursday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=ThursdayTimes id=ThursdayTimes value='{{thurs}}'>
						</div>
							<br>
						<div id=Friday>
							<p>Enter availability for Friday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=FridayTimes id=FridayTimes value='{{fri}}'>
						</div>
							<br>
						<div id=Saturday>
							<p>Enter availability for Saturday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=SaturdayTimes id=SaturdayTimes value='{{sat}}'>
						</div>
							<br>
						<div id=Sunday>
							<p>Enter availability for Sunday.</p>
							<p>Ex: 02:00 PM-03:00 PM, 01:00 AM-12:00 PM</p>
							<input type="text" name=SundayTimes id=SundayTimes value='{{sun}}'>
						</div>
						<br>
                        <input id='submit' type="submit" value="Submit" onclick="return checkValue()" />
                    </fieldset>
                </form>
				</div>
			</div>
			<div class="column right">
				<div class="box">
				<h1 class="display-5 fw-bold text-center">Current Weekly Schedules</h1><br>
							  <table class="table">
								  <tr>
								  <th>Physician</th>
								  {% for day in days %}<th>{{day}}</th>{% endfor %}
								  </tr>
								  {% for s in schedules %}
								  <tr>
									  {% for entry in s %}
									  <td>{{entry}}</td>
									  {% endfor %}
								  </tr>
								  {% endfor %}
							  </table>

				</div>
			</div>
		</div>
		</div>

	</div>


</body>



<script>
	function checkValue() {
	var p = document.getElementById("physician");
			 var selectedValue = p.options[p.selectedIndex].value;
				if (selectedValue == "choose")
			   {
				alert("Please select a physician");
				return false;
			   }
			   };
</script>


</html>